.container {
  display: grid;
  grid-template-areas:
		'. . . . d d'
		'c c c c c c'
    'a a a b b b'
    'r r p p s s';
  font-family: cursive;
}

.container > div {
  text-align: center;
}

.Rock, .Paper, .Scissors {
  margin-top: 75px;
  height: 100px;
  width: 100px;
  border-width: 0;
  background-color: lightskyblue;
  font-family: cursive;
}

.Rock:hover, .Paper:hover, .Scissors:hover {
  background-color: lightslategray;
  font-size: large;
}

#choiceJ1, #choiceJ2 {
	color: black;
	font-size: 30px;
  border-radius: 50%;
}

.j1 {
	grid-area: a;
  margin-top: 50px;
}

.j2 {
	grid-area: b;
  margin-top: 50px;
}

.Rock {
	grid-area: r;
  width: auto;
}

.Paper {
	grid-area: p;
  width: auto;
}

.Scissors {
	grid-area: s;
  width: auto;
}

.point {
	grid-area: d;
	font-size: 20px;
}

.choice {
	grid-area: c;
	font-size: 35px;
}

.restart {
  font-family: cursive;
  background-color: white;
  border-width: 0;
  width: 150px;
}

.restart:hover {
  color: red;
  border-width: 1px;
  border-color: red;
  font-size: large;
}

.botJ1Button {
  width: 100%;
  height: 50px;
  position: absolute;
  text-align: center;
  bottom:0;
  left: 0;
  right: 0;
  background-color: white;
  border-width: 0;
}

.botJ1Button:hover {
  font-size: larger;
  color: red;
}